@media (min-width: 320px) and (max-width: 425px) {


    .wrapper {
        width: 34rem;


    }

    .hero-section {
        padding-left: 0;
    }

    .box-numbers {
        margin-left: 1rem;
    }

    #navigation {
        width: 100%;
    }

    .box-numbers {
        width: 100%;


    }

    .card-servicos {
        width: 100%;

    }

    #txt-servicos-section {
        padding-top: 20rem;
    }

    .foto-homem {
        width: 28rem;
    }
    .img-medico{
        width: 28rem;
    }

    body.menu-expanded .menu {
        width: 100%;
    }

}

@media (min-width: 500px) and (max-width: 768px) {
    .wrapper {
        width: min(45rem, 100%);
    }

    .foto-homem {
        width: 40rem;
    }

    .foto-mulher {
        width: 40rem;
    }
    .img-medico{
        width: 40rem;
    }
}

@media (min-width: 1024px) {

    /* ========= GERAL =================== */
    body {
        overflow: auto;
        padding-inline: auto;

    }
    .wrapper {
        display: grid;
        width: min(112rem, 100%);
    }

    .col-a {
        grid-area: A;
    }

    .col-b {
        grid-area: B;
    }

    /* ========= RESET =================== */
    
    .container{
        width: 100rem;
        margin-inline: auto;
    }

    .header * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        font-weight: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        z-index: initial;
    }

    nav#navigation {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        font-weight: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        z-index: initial;
    }

    .menu-nav-on a,
    .menu-nav-on ul,
    .menu-nav-on li {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        font-weight: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        z-index: initial;
    }

    .close-menu, .open-menu, .social-links {
        display: none;
    }

    /* ========= NAVIGATION =================== */
    .cont{
        width: 50%;
    }
    .header {
        width: 100vw;
        left: 0;
        padding-inline: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        position: fixed;
        z-index: 100;

    }

    nav#navigation {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .menu {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .btn-consulta {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px var(--brand--green) solid;

        width: 20rem;
        height: 5rem;

        color: var(--brand--green);
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 18px;

        transition: 300ms;

    }

    .btn-consulta:hover {
        background-color: var(--brand--green);
        color: white;
    }

    .logo p {
        font-size: 2.4rem;
    }

    .logo span {
        font-size: 2.4rem;
    }

    .menu-nav-on a {

        font-weight: 400;
        color: var(--brand--green);
        opacity: 0.7;
        padding-inline: 1.7rem;

        transition: 300ms;

        
    }

    .menu-nav-on a:hover {

        font-weight: 700;
        color: var(--brand--green);
        opacity: 1;

        border-bottom: 2px solid var(--brand--green); 
       
    }
    /* verificar o active para funcionar */
    .active{
        font-weight: 700;
        border-bottom: 2px solid var(--brand--green); 
        color: white;
        opacity: 1;

    }
    

    /* ========= SCROLL ============ */



    .header.scroll .btn-consulta {
        border: 1px solid white;

    }

    .header.scroll .btn-consulta:hover {
        background-color: #00453A;
        border: none;


    }

    .header.scroll a {
        color: #F7F9F9;
    }
    .header.scroll .menu-nav-on a:hover {
        color: #F7F9F9;
        border-bottom: 2px solid  #F7F9F9;
    }
 

    nav#navigation.scroll p {
        color: #F7F9F9;
    }

    /* ========= HOME =================== */
    .hero-section {
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas:
            'A B'
            'C C';
        height: 60rem;
    }

    .btn-consulta2 {
        margin-left: 0;
    }

    .box-numbers {
        grid-area: C;
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }

    .box-number1,
    .box-number2,
    .box-number3 {
        flex: 1;
        margin: 0;
        gap: 0;
    }

    .foto-mulher {
        width: auto;
        height: 45rem;
        margin-top: 7rem;

    }

.title {
    font-size: 5.2rem;
}

.txt-medicos {
    font-size: 1.8rem;
}

.box-numbers .box-number2, .box-number3 {
    border-left: 1px solid var(--brand--green);
}

/* ========= SERVICOS =================== */

.servicos-section {

    height: 90rem;
}

#txt-servicos-section {
    margin: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    flex-grow: 1;
    margin: 1rem;
}

/* ========= SOBRE =================== */

#sobre {
    display: grid;
    height: 70rem;
    align-items: center;
    justify-items: center;
   
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'B A';

}
#sobre .col-a{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
 
    
    
} 

.img-medico {
    width: 45rem;
   padding-inline: 2rem;
}

.quemSomos {
    width: 44rem;
    font-size: 4rem;
}

/* ========= CONTATO =================== */
#contato {
    height: 70rem;
    display: grid;
    align-items: center;
    justify-items: center;
   
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
}
#contato .col-a {
 
  margin-left: 15%;
}
.foto-homem{
    width: auto;
    height: 35rem;
    padding-bottom: 0;
    margin-right: 20%;
   
}

.txt-contato {
    font-size: 4rem;
    width: 40rem;
}

.box-txt-contato {
    width: 40rem;
}

.endereco {
    width: 40rem;
}

.txt-paragraph {
    font-size: 1.8rem;
}



/* ========= FOOTER =================== */
.footer {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
}
.footer .col-a{
    padding-left: 10rem;
}
footer .social-links{
    display: flex;
    align-items: flex-end;
}



}