* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

ul, a, li {
    list-style: none;
    text-decoration: none;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}
body button {
    cursor: pointer;
}

:root {
    /* primary-color */

    --brand--green-light: #DCE9E2;
    --brand--green: #00856F;
    --brand-green-light-02: #F7F9F9;
    --brand-beige: #FFFAF1;
    --brand-green-hover: #00453A;

    /* primary-color */

    /* secundary  -color */

    --gray-headline: #061800;
    --gray-paragraph: #495057;
    --white: #EDEDED;

    /* secundary  -color */

    --nav--heigth: 7.2rem;
    font-size: 62.5%;
    /*1rem = 10px  */
}
html{
    /* move o scroll de forma mais leve */
    scroll-behavior: smooth;
}
body {
    background-color: var(--brand--green-light);

}

.wrapper {
    width: 37.5rem;
    margin-inline: auto;


}
.txt-paragraph{
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--gray-paragraph);

}

.txt-subtitle{
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    color: var(--gray-headline);

}
.txt-green {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--brand--green);
    line-height: 150%;
    text-transform: uppercase;
}
.title {
    font-size: 3.4rem;
    line-height: 130%;
    margin-bottom: 2.4rem;
}

.container {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;

}

/* INICIO-HEADER */

#navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 1.6rem 2.4rem;
    position: fixed;
    top: 0;
    left: 0%;
    transform: translateX(0%);
    height: var(--nav--heigth);
    width: 100vw;
    z-index: 100

}

.scroll {
    background-color: var(--brand--green);
    width: 100%;
}

.logo {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--gray-headline);

}

.logo span {
    color: var(--brand--green);
    font-weight: 700;
}

.logoExpanded {
    color: white;
}

.logoExpanded span {
    color: white;
}

/* FIM-HEADER */

/* INICIO-HERO-SECTION */
.hero-section {
    text-align: center;

    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;

    height: 120rem;

    display: flex;
    flex-direction: column;

    z-index: 10;
}

.txt-boas-vindas {
    margin-top: calc(4.1rem + var(--nav--heigth));
    margin-bottom: 1.6rem;
}



.txt-medicos {
    font-size: 1.8rem;
    color: var(--gray-paragraph);
    line-height: 150%;
    margin-bottom: 3.2rem;

}

.btn-consulta2 {
    background-color: var(--brand--green);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2.5rem;

    gap: 1.6rem;
    width: 26.3rem;
    height: 5.2rem;
    border: none;
    border-radius: 4rem;


    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    line-height: 1.8rem;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6.1rem;
}
.btn-consulta2:hover{
    background-color: var(--brand-green-hover);

}

.foto-mulher {
    width: auto;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

/* FIM-HERO-SECTION */

/* INICIO-BOX-NUMBERS */

.box-numbers {
    background: var(--brand-beige);
    padding: 4rem 8rem;
    border: 1px solid var(--brand--green-light);
    border-radius: .6rem;

    z-index: 10;
}

.txt-box-numbers {
    font-size: 4.8rem;
    line-height: 130%;
}

.txt-box-info {
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--brand--green);
}

.box-number1, .box-number2 {
    margin-bottom: 6rem;
}

/* FIM-BOX-NUMBERS */

/* ========== MENU EXPANDED ========== */
.menu{
    transform: translateY(100%);
}
body.menu-expanded {
    overflow: hidden;
    
}


/* QUANDO O BODY NÃO TIVER A CLASSE MENU-EXPANDED ENTÃO VAI DEIXAR
O MENU E O BOTAO CLOSE-MENU INVISIVEL */
.displayNone {
    display: none;
}

.menu, .close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

/* QUANDO O BODY TIVER A CLASSE MENU-EXPANDED ENTÃO VAI DEIXAR
VISIVEL */
body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
    
}

body.menu-expanded .menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--brand--green);

    padding-top: calc(var(--nav--heigth) + 5rem);

    width: 100vw;
    height: 100%;

    transition: transform 300ms;
    transform: translateY(0);

    z-index: 10;
   
}

body.menu-expanded nav {
    position: relative;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

.btn-consulta {
    background-color: white;
    width: 27.4rem;
    height: 5.5rem;
    border: none;
    border-radius: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #00856F;
    line-height: 1.8rem;

    margin-left: auto;
    margin-right: auto;
    margin-top: 4.8rem;
    margin-bottom: 9.6rem;
}
.btn-consulta:hover{
    background-color: var(--brand--green-light);
      
}

.menu-nav-on a {
    font-size: 2.4rem;
    color: white;
    font-weight: 700;
    line-height: 5rem;
    display: flex;
    justify-content: center;
}
.menu-nav-on a:hover{
    color: var(--brand--green-light);
}

.logo {
    padding-right: 10rem;
}

body.menu-expanded .logo {
    position: relative;
    z-index: 100;
}

open-menu {
    position: absolute;
    top: 0;
}

.btn-menu {
    position: fixed;
    top: 15px;
}

.btn-menu1 {
    padding-left: 5rem;
}

/* INICIO-SECTION-SERVICOS */

.servicos-section {
    background: var(--brand-green-light-02);
    height: 203.4rem;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content:center ;

    z-index: 10;
}
#txt-servicos-section{
    margin-bottom: 1.6rem;
    margin-top: 20rem;
    padding-top: 10rem;
    
}

.img-check{
    width: 2.4rem;
    height: 2.4rem;
}
.card-servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.card-servico0{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-inline: auto;
    width: 32.7rem;
    border-radius: 0.6rem;
    margin-bottom: 3.2rem;
    
}
.card-servico1{
    background-color: white;
    width: 32.7rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.6rem;
    border: 1px solid --brand--green-light;
    border-radius: 0.6rem;
    margin-bottom: 3.2rem;
    
}
.card-servico2{
    background-color: white;
    width: 32.7rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.6rem;
    border: 1px solid --brand--green-light;
    border-radius: 0.6rem;
    margin-bottom: 3.2rem;
    
}
.card-servico3{
    background-color: white;
    width: 32.7rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.6rem;
    border: 1px solid --brand--green-light;
    border-radius: 0.6rem;
    margin-bottom: 3.2rem;
    
}
.card-servico4{
    background-color: white;
    width: 32.7rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.6rem;
    border: 1px solid --brand--green-light;
    border-radius: 0.6rem;
    margin-bottom: 3.2rem;
    
}
.card-servico5{
    background-color: white;
    width: 32.7rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.6rem;
    border: 1px solid --brand--green-light;
    border-radius: 0.6rem;
    margin-bottom: 3.2rem;
    
}
.card-servico6{
    background-color: white;
    width: 32.7rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.6rem;
    border: 1px solid --brand--green-light;
    border-radius: 0.6rem;
    margin-bottom: 10rem;
    
}

/* FIM-SECTION-SERVICOS */

/* INICIO-SECTION-SOBRE */
.sobre-section{
    height: 96.9rem;
    background-color: var(--brand-beige);

    display: flex;
    
    justify-content: center;
    flex-direction: column;
    text-align: left;

    padding-inline: 2.4rem;
}
.txt-sobre{
    margin-bottom:1.6rem ;
}
.quemSomos{
    margin-bottom:2.4rem ;
}

.paragraph-sobre{
    margin-bottom:6rem ;
}
/* FIM-SECTION-SOBRE */

/* INICIO-SECTION-CONTATO */

.contato-section{
    background-color:white ;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align:left;
    padding-top: 10rem;
    padding-inline: 2.4rem;
    
}

.endereco{
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
    margin-top: 3.2rem;

}
.email{
    display: flex;
    gap: 0.8rem;
    margin-bottom: 3.2rem;
}
.foto-homem{
    width: 32.4rem;
    display: block;
    margin-inline: auto;
    padding-bottom: 10rem;
}

/* FIM-SECTION-CONTATO */

/* INICIO-FOOTER */

.footer{
    background-color: var(--brand--green);
    padding: 6rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#logoFooter{
    color:white;
    font-size: 4.1rem;
}
#logoFooter span{
    font-weight: 700;
    
    
}
.footer-copy{
    color: white;
    line-height: 2.8rem;
    padding-top: 2.4rem;
    padding-bottom: 3.2rem;
    
}

#backTop{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity:0 ;
    visibility:hidden;
   
}
#backTop.show{
    opacity: 1;
    visibility:visible;

    transition: 700ms;

}
/* FIM-FOOTER */